*
{
    z-index: 0;
}
.container-fluid
{
    padding: 0 7%;
}
.img
{
    width: 1349px;
    height:750px;
}
.navbar
{
    position: fixed;
}
.navopts{
    
    padding-right: 70px;
}
.home
{
    margin-left: 500px;
}
.features1
{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    color: white;
    font-size: 15px;
    display: inline-block;
    bottom: 400px;
    text-align: left;
    padding-right: 1050px;
    margin-left: 50px;
}
.features2
{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    color: white;
    font-size: 15px;
    display: inline-block;
    bottom: 325px;
    left: 1120px;
    bottom: 460px;
}
.h
{
    font-family: 'BIZ UDPGothic', sans-serif;
    position: relative;
    bottom: 200px;
    right: 100px;
    color: white;
    font-size: 20px;
    display: inline-block;

}
.h2
{
    font-family: 'BIZ UDPGothic', sans-serif;
    position: relative;
    bottom: 200px;
    right: 50px;
    color: white;
    font-size: 20px;
    display: inline-block;
}
.h3
{
    font-family: 'BIZ UDPGothic', sans-serif;
    position: relative;
    bottom: 200px;
    color: white;
    font-size: 20px;
    display: inline-block;
}
.sh
{
    font-family: 'BIZ UDPGothic', sans-serif;
    position: relative;
    right: 310px;
    bottom: 180px;
    color: white;
    font-size: 10px;
    display: inline-block;
}
.sh2
{
    font-family: 'BIZ UDPGothic', sans-serif;
    position: relative;
    right: 270px;
    bottom: 180px;
    color: white;
    font-size: 10px;
    display: inline-block;
}
.sh3
{
    font-family: 'BIZ UDPGothic', sans-serif;
    position: relative;
    right: 185px;
    bottom: 180px;
    color: white;
    font-size: 10px;
    display: inline-block;
}
.cool
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 15px;
    left: 550px;
    z-index: 1;
}
.EXP
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 50px;
    top: 80px;
    left: 305px;
    z-index: 1;
}
.p1
{
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
p
{
    position: relative;
    display: inline-block;
    top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 0px;
    text-align: center;
}
.card
{
    top: 380px;
}
.fast
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 15px;
    top: 100px;
    left: 360px;
    letter-spacing: 5px;
}
.ourvalue
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 50px;
    z-index: 1;
    left: 550px;
    top: 175px;
}
.ourbikes
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 15px;
    left: 560px;
    top: 250px;
}
.EXPLORE
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 50px;
    top: 310px;
    left: 330px
}
.logo2
{  
    position: absolute;
    left: 580px;
    top: 855px;
    opacity: 0.5;

}
.carousel1
{
    margin-top: 300px;
    width: 500px;
    height: 300px;
    position: relative;
    left: 360px;
}
.carousel2
button
{
    color: black;
}
.loremipsum
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 15px;
    top: 200px;
}
.loremipsum2
{
    position: relative;
    display: inline-block;
    font-size: 15px;
    top: 200px;
}
.MORE
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 15px;
    left: 490px;
}
.bgcolor
{
    background-color: white;
    
}
.carousel2
{
    top: 30px;
    width: 900px;
    height: 500px;
    position: relative;
    left: 180px;

}
.carousel2pics
{
    height: 500px;
}
.features3
{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    font-size: 15px;
    padding-left: 0px;
    left: 135px;
    top: 110px;
    padding-right: 100px;
}
.icon
{
    position: relative;
    font-size: 35px;
    top: 100px;
    left: 150px;
}
.icon2
{
    position: relative;
    font-size: 35px;  
    top: 100px;
    left: 200px;
}
.logo3
{
    position: absolute;
    opacity: 0.5;
    left: 600px;
    top: 2525px;
}
.aboutcompanyimg
{
   position: relative;
   width: 1349px;
   height: 600px;
   top: 300px;
}
.aboutcompany
{
    position: relative;
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 50px;
    left: 750px;
    bottom: 250px;
}
.dummy
{
    text-align: left;
    position: absolute;
    display: inline-block;
    font-size: 15px;
    bottom: 0px;
    right: 0px;
    padding-right: 200px;
    top: 3020px;
    left: 500px;
}
.logo4
{
    position: absolute;
    opacity: 0.5;
    left: 600px;
    top: 3565px;
}
.updates
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 50px;
    z-index: 1;
    top: 350px;
    left: 425px;
}

  
  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

  .carousel4
  {
    width: 900px;
    height: 350px;
    top: 450px;
    left: 220px;
    position: relative;
  }
  .pic1,.pic2,.pic3
  {
    width: 900px;
    height: 500px;
  }
  .carousel-indicators
  {
    top: 450px;
  }
  .carousel-control-next,.carousel-control-prev
  {
    top: 100px;
  }
  .discount
  {
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 15px;
    background-color: #18978F;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    left: 800px;
    top: 140px;
    color: white;
  }

  .discountdiv
  {
    position: relative;
    display: inline-block;
    left: 800px;
    top: 140px;
  }
  .preorder
  {
    color: white;
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    top: 180px;
    left: 720px;
  }
.min,.sec,.ms,.seperator
{
    display: inline-block;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.div
{
    position: relative;
    left: 798px;
    top: 170px;
}
footer
{
    margin-top: 600px;
}
.text-uppercase
{
    margin-left: 30px;
}